body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
}

app-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #342f2f; /* Footer background */
  color: #fff; /* Footer text */
}

main {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 120px); /* Adjust based on header and footer height */
}

router-outlet {
  display: block;
  margin: 0;
  padding: 0;
}
