<footer class="footer">
    <div class="footer-content">
      <h2>Get in Touch!</h2>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="social-icon"><i class="fas fa-map-marker-alt"></i></a>
      </div>
    </div>
    <div class="footer-nav">
      <ul class="footer-links">
        <li><a (click)="navigateTo('/home')">Home</a></li>
        <li><a (click)="navigateTo('/contact-us')">Contact Us</a></li>
        <li><a (click)="navigateTo('/bookings')">Book Now!</a></li>
      </ul>
      <p class="copyright">
        Copyright 2025 © <span class="brand">PlayEase</span>
      </p>
    </div>
    <!-- <a href="#top" class="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a> -->
    <a href="https://wa.me/03090905305" target="_blank" class="whatsapp-link">
      <i class="fab fa-whatsapp"></i>
    </a>
  </footer>
  