<!-- <div class="search-bar">
  <input type="text" formControlName="searchQuery" placeholder="Search for a stadium, facility, or class..." />
  <button type="button" (click)="onSearch()">Search</button>
  <button type="button" (click)="onFilterClick()">Filters</button>
</div> -->

<div class="search-bar" [formGroup]="form">
  <input 
    type="text" 
    formControlName="searchQuery"
    placeholder="Search for a stadium, facility, or class..."
  />
  <button type="button" (click)="onSearch()">Search</button>
  <button type="button" (click)="onFilterClick()">Filters</button>
</div>
