  <div class="popup-container" (click)="$event.stopPropagation()"> 
    <div *ngIf="isLogin; else signupTemplate">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="input-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" required />
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>

      <div class="toggle-link">
        <p>Don't have an account? <a (click)="toggleSignup()">Sign Up</a></p>
      </div>
    </div>

    <ng-template #signupTemplate>
      <h2>Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="handleSignup()">
        <div class="input-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" required />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
        </div>
        <button type="submit" [disabled]="signupForm.invalid || signupForm.value.password !== signupForm.value.confirmPassword">Sign Up</button>
      </form>
      <div class="toggle-link">
        <p>Already have an account? <a (click)="toggleLogin()">Login</a></p>
      </div>
    </ng-template>
</div> 
