<aside class="filters">
  <form [formGroup]="form" (ngSubmit)="applyFilters()">
    <h3>FILTER BY</h3>

    <label>Date</label>
    <dx-date-box
      formControlName="selectedDate"
      type="date"
      [min]="minDate"
      (onValueChanged)="recomputeSidebarTimeOptions()">
    </dx-date-box>

    <label>Choose Your Time</label>
    <dx-drop-down-box
      #sidebarTimeBox
      formControlName="selectedTime"
      displayExpr="text"
      valueExpr="text"
      [dataSource]="timeOptionsSidebar"
      [deferRendering]="false"
    >
      <div *dxTemplate="let dd of 'content'">
        <dx-list
          [dataSource]="timeOptionsSidebar"
          displayExpr="text"
          selectionMode="single"
          (onItemClick)="onSidebarTimeSelect($event, sidebarTimeBox)">
          <div *dxTemplate="let item of 'item'">
            <div>
              {{ item.text }}
            </div>
          </div>
        </dx-list>
      </div>
    </dx-drop-down-box>

    <label>Match Duration</label>
    <div class="duration-buttons">
      <dx-button
        text="60 mins"
        [type]="form.get('matchDuration')?.value === 60 ? 'success' : 'default'"
        stylingMode="contained"
        (onClick)="setDuration(60)">
      </dx-button>

      <dx-button
        text="90 mins"
        [type]="form.get('matchDuration')?.value === 90 ? 'success' : 'default'"
        stylingMode="contained"
        (onClick)="setDuration(90)">
      </dx-button>

      <dx-button
        text="120 mins"
        [type]="form.get('matchDuration')?.value === 120 ? 'success' : 'default'"
        stylingMode="contained"
        (onClick)="setDuration(120)">
      </dx-button>
    </div>

    <label>Pitch Size</label>
    <dx-tag-box
      [items]="['5x5', '6x6', '7x7', '9x9', '11x11']"
      formControlName="selectedPitchSizes"
      [showSelectionControls]="true">
    </dx-tag-box>

    <label>Distance (km)</label>
    <dx-slider formControlName="distance" [min]="0" [max]="50"></dx-slider>

    <dx-button text="Use Current Location" (onClick)="useCurrentLocation()"></dx-button>

    <div class="action-buttons">
      <dx-button text="Clear" (onClick)="clearFilters()"></dx-button>
      <dx-button text="Filter" type="default" [useSubmitBehavior]="true"></dx-button>
    </div>
  </form>
</aside>