<nav class="navbar">
    <div class="logo">
      <img src="assets/PlayEase.png" alt="PlayEase Logo" />
      <!-- <span>Play<span style="color: green;">Ease</span></span> -->
    </div>
    <ul class="nav-links">
      <li><a (click)="navigateTo('/home')">Home</a></li>
      <li><a (click)="navigateTo('/our-services')">Services</a></li>
      <li><a (click)="navigateTo('/contact-us')">Contact Us</a></li>
      <li><a (click)="navigateTo('/my-account')">My Account</a></li>
    </ul>
    <div class="action-buttons">
      <button class="book-now" (click)="RedirectToBooking()">Book Now!</button>
      <!-- Show Login if NOT logged in -->
<button *ngIf="!isLoggedIn" class="book-now" (click)="RedirectToLogin()">Login</button>

<!-- Show username + Logout if logged in -->
<div *ngIf="isLoggedIn" class="logged-in-menu">
  <span>Welcome, {{ loggedInUser?.fullName || 'User' }}</span>
  <!-- <button mat-button (click)="logout()">Logout</button> -->
</div>

      <!-- <button class="login" (click)="RedirectToLogin()">Login</button> -->
    </div>
  </nav>
