<div class="home-container">
    <div class="container">
        <main>
          <section class="hero">
            <h1>Welcome to <span>PlayEase</span>!</h1>
            <p>Book your favourite sports facilities in just a few clicks!</p>
            <button class="cta-btn" (click)="navigateTo('/bookings')">Get Started</button>
          </section>
      
          <section class="features">
            <div class="feature-card">
              <i class="fas fa-futbol"></i>
              <i class="fas fa-basketball-ball"></i>
              <h3>Indoor Courts</h3>
              <p>Book world-class courts for football, basketball, and more.</p>
            </div>
            <div class="feature-card">
              <i class="fas fa-running"></i>
              <h3>Fitness Classes</h3>
              <p>Explore fitness classes led by top trainers.</p>
            </div>
            <div class="feature-card">
              <i class="fas fa-calendar-alt"></i>
              <h3>Easy Scheduling</h3>
              <p>Schedule slots seamlessly with our dynamic calendar.</p>
            </div>
            
            
          </section>
        </main>
      </div>
    </div>
      
  