<div class="bookings-container">
  <app-searh-bar
    [courts]="courts"
    (filteredCourtsChange)="onFilteredCourtsChange($event)"
    (durationChange)="onDurationChange($event)"
    (formChange)="onFormChange($event)">
  </app-searh-bar>

  <app-court-booking
    (courtsLoaded)="onCourtsLoaded($event)"
    (courtSelected)="onCourtSelected($event)">
  </app-court-booking>
</div>

<app-booking-details
  [form]="form"
  (proceedToPayment)="onProceedToPayment($event)"
  (durationChanged)="onDurationChange($event)">
</app-booking-details>

<app-payment
  [form]="form"
  (backToDetails)="onBackToDetails()"
  (bookingComplete)="onBookingComplete()">
</app-payment>